body {
    overflow: hidden;
}
div {
    font-family: sans-serif;
}

#eventLog {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 100%;
    border-right: 4px solid black;
    padding: 16px 16px;
    font: 32px black sans-serif;
}
#eventLogBody {
    position: absolute;
    top: 64px;
    left: 0px;
    width: 100%;
    height: calc(100% - 102px);
    border-top: 4px solid black;
    font-size: 20px;
    overflow-y: scroll;
}
.logBlock {
    width: 382px;
    background-color: lightgray;
    padding: 4px 16px;
    margin-top: 8px;
}

#joystickBody {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 400px;
    height: 400px;
    background-color: grey;
    clip-path: inset(0 0 0 0 round 50px 50px 50px 50px);
    user-select: none;
}
#joystickPin {
    position: absolute;
    bottom: 150px;
    right: 150px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: move;
    z-index: 1;
}
#sliderX {
    position: absolute;
    bottom: 190px;
    right: 0px;
    width: 400px;
    height: 20px;
    background-color: black;
}
#sliderY {
    position: absolute;
    bottom: 0px;
    right: 190px;
    width: 20px;
    height: 400px;
    background-color: black;
}

#captureBody {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    align-content: center;
}
#captureButton {
    width: 268px;
    height: 32px;
    margin: 16px 16px;
    margin-bottom: 0px;
    font: 28px sans-serif black;
    font-weight: bolder;
    background-color: lightskyblue;
    border: 4px outset darkgray;
    cursor: pointer;
}
#captureButton:active {
    border-style: inset;
}
#captureStreamButton {
    width: 268px;
    height: 32px;
    margin: 16px 16px;
    margin-bottom: 0px;
    font: 28px sans-serif black;
    font-weight: bolder;
    background-color: lightgreen;
    border: 4px outset darkgray;
    cursor: pointer;
}
#captureStreamButton:active {
    border-style: inset;
}

#temp {
    position: absolute;
    top: 0px;
    left: 450px;
}

.slider {
    width: 255px;
}