body {
    overflow: hidden;
}
div {
    font-family: sans-serif;
}

#eventLog {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 100%;
    border-right: 4px solid black;
    padding: 16px 16px;
    font: 32px black sans-serif;
}
#eventLogBody {
    position: absolute;
    top: 64px;
    left: 0px;
    width: 100%;
    height: calc(100% - 96px);
    border-top: 4px solid black;
    font-size: 20px;
    overflow-y: scroll;
}
.logBlock {
    width: 382px;
    background-color: lightgray;
    padding: 4px 16px;
    margin-top: 8px;
}

#joystickBody {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: grey;
    user-select: none;
}
#joystickPin {
    position: absolute;
    bottom: 150px;
    right: 150px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightgray;
    cursor: move;
    z-index: 1;
}
#sliderX {
    position: absolute;
    bottom: 190px;
    right: 0px;
    width: 400px;
    height: 20px;
    background-color: black;
}
#sliderY {
    position: absolute;
    bottom: 0px;
    right: 190px;
    width: 20px;
    height: 400px;
    background-color: black;
}
#joystickMask {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 400px;
    height: 400px;
    background: radial-gradient(transparent 199px, white 200px);
    pointer-events: none;
    z-index: 1;
}

#captureBody {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 200px;
    align-content: center;
}
#captureButton {
    width: 168px;
    height: 32px;
    margin: 16px 16px;
    font: 28px sans-serif black;
    font-weight: bolder;
    background-color: lightgreen;
    border: 4px outset darkgray;
    cursor: pointer;
}
#captureButton:active {
    border-style: inset;
}